<p>
    <strong>
        Command
    </strong>
</p>
<div class="false_pre ptb-2 button-group">
    <span>
        {{ settings.COMMAND }}
    </span>

    <div class="tag-no-shadow u-styled-red" x-show="!satellite_status"
         style="padding: 8px; margin: 0">Stopped
    </div>
    <div class="tag-no-shadow u-styled-green" x-show="satellite_status"
         style="padding: 8px; margin: 0">Running
    </div>
</div>

<div>
    <button class="button button-blue u-no-shadow" @click="edit_command = true">Edit</button>

    <button class="button button-red u-no-shadow"
            @click="app_stop($el)"
            :disabled="!command_exists || !venv_exists || !satellite_status"
    >Stop
    </button>
    <button class="button button-orange u-no-shadow"
            @click="app_restart($el)"
            :disabled="!command_exists || !venv_exists || !satellite_status"
    >Restart
    </button>
    <button class="button button-green u-no-shadow"
            @click="app_start($el)"
            :disabled="!command_exists || !venv_exists || satellite_status"
    >Start
    </button>
</div>