<p>
    <strong>
        Git
    </strong>
</p>

<div class="false_pre">{{ settings.GIT_URL }}</div>
<div class="mb-3">
    <button class="button button-blue u-no-shadow" @click="edit_git = true">Edit</button>
    <button class="button u-no-shadow" @click="clone_repo()">Clone</button>
    <button class="button u-no-shadow" @click="pull_repo()">Pull Changes</button>
    <button class="button button-red u-no-shadow" @click="show_destroy_git = !show_destroy_git">
        Destroy
    </button>
</div>
<div class="small-alert mt-2" x-show="show_destroy_git" x-cloak x-collapse>
    <div style="padding: 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <div>
            <p class="m-0"><strong>Warning!</strong></p>
            <p class="m-0">This will destroy the git repository and all files will be lost. </p>
            <p class="m-0">Are you sure you want to continue?</p>
        </div>
        <div style="margin: 0; padding: 10px; text-align: center; display: flex;">
            <button class="button button-black u-no-shadow me-2 plr-4"
                    @click="show_destroy_git = !show_destroy_git">
                NO
            </button>
            <button class="button button-red u-no-shadow" @click="clone_repo()">YES</button>

        </div>
    </div>
</div>

<p>Repository folder contents</p>
<div>
    {% if repo_folder %}
        {% for ld in repo_folder %}
            <span class="tag-no-shadow"> {{ ld }} </span>
        {% endfor %}
    {% else %}
        <div class="small-alert">No files in repository folder.</div>
    {% endif %}
</div>