<p>
    <strong>
        Git
    </strong>
</p>

<div class="false_pre">{{ '-' if settings.GIT_URL == '' else settings.GIT_URL }}</div>
<div class="mb-3">
    <button class="button button-blue u-no-shadow" @click="edit_git = true">Edit</button>
    <button class="button u-no-shadow"
            @click="clone_repo($el)"
            :disabled="repo_dot_git_config_exists">Clone
    </button>
    <button class="button u-no-shadow" @click="pull_repo($el)" :disabled="!repo_dot_git_config_exists">Pull Changes
    </button>
    <button class="button button-red u-no-shadow"
            @click="show_destroy_git = !show_destroy_git"
            :disabled="!repo_dot_git_config_exists">
        Destroy
    </button>
</div>
<div class="small-alert mt-2 mb-3" x-show="show_destroy_git" x-cloak x-collapse>
    <div style="padding: 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <div>
            <p class="m-0"><strong>Warning!</strong></p>
            <p class="m-0">This will destroy the git repository and all files will be lost. </p>
            <p class="m-0">Are you sure you want to continue?</p>
        </div>
        <div style="margin: 0; padding: 10px; text-align: center; display: flex;">
            <button class="button button-black u-no-shadow me-2 plr-4"
                    @click="show_destroy_git = !show_destroy_git">
                NO
            </button>
            <button class="button button-red u-no-shadow" @click="destroy_repo()">YES</button>
        </div>
    </div>
</div>

<p>Repository folder contents</p>
<div x-show="repo_contents">
    <template x-for="item in repo_contents">
        <span class="tag-no-shadow" x-text="item"></span>
    </template>
</div>
<div class="small-alert" x-show="repo_contents.length === 0">No files in repository folder.</div>