<form method="post" action="/save/git">
    <label for="git_url">
        Git
    </label>
    <input
            name="git_url"
            id="git_url" class="u-w100"
            value="{{ settings.GIT_URL if settings.GIT_URL is not none }}"
            type="text"
            placeholder="https://github.com/username_or_org/my-repo.git"
            required
            :disabled="repo_dot_git_config_exists"
    >

    <input
            name="git_private"
            id="git_private"
            type="checkbox"
            class="mb-3"
            x-on:click="git_is_private = !git_is_private"
            :checked="git_is_private"
            :disabled="repo_dot_git_config_exists"
    >
    <label class="label-inline" for="git_private">This repo requires an access token</label>

    <div class="small-alert mb-3" x-show="repo_dot_git_config_exists">
        To change the git url or its private status, you must destroy the repo.
    </div>

    <div x-show="git_is_private" x-cloak>
        <label for="git_username">
            Token Name
        </label>
        <input
                name="git_token_name"
                id="git_token_name"
                class="u-w100"
                value="{{ settings.GIT_TOKEN_NAME if settings.GIT_TOKEN_NAME is not none }}"
                type="text"
                placeholder="required"
        >
        <label for="git_token">
            Token
        </label>
        <input
                name="git_token"
                id="git_token"
                class="u-w100"
                value="{{ settings.GIT_TOKEN if settings.GIT_TOKEN is not none }}"
                type="password"
                placeholder="required"
        >
    </div>

    <input type="hidden" name="git" value="git">

    <div>
        <button class="button button-green u-no-shadow">
            Save
        </button>
        <button type="button" class="button button-black u-no-shadow"
                @click="edit_git = false">
            Cancel
        </button>
    </div>

</form>