<form method="post" action="/save/command">
    <label for="command">
        Command
    </label>
    <input
            name="command"
            id="command"
            value="{{ settings.COMMAND }}"
            type="text"
            class="u-w100"
            autocomplete="off"
    >

    <input type="hidden" name="command" value="command">

    <div class="button-group">
        <div>

            <button type="submit" class="button button-orange u-no-shadow">
                Save &amp; Start / Restart
            </button>
            <button type="submit" class="button button-green u-no-shadow">
                Save
            </button>
            <button type="button" class="button button-black u-no-shadow"
                    @click="edit_command = false">
                Cancel
            </button>
        </div>
    </div>

</form>

<div x-show="show_command_templates">

</div>