<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('theme.static', filename='ico/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='normalize/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css/main.css') }}">
    <script defer src="{{ url_for('theme.static', filename='js/alpine:global:x-data.js') }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="{{ url_for('theme.static', filename='js/alpinejs.min.js') }}"></script>

    <title>AutoGit - Flask-Planet</title>

</head>
<body>

{% include 'theme/includes/header.html' %}

<section x-data="global">
    {% include 'theme/includes/flash.html' %}
    {% block container %}
    {% endblock container %}
</section>

{% include 'theme/includes/footer.html' %}

</body>
</html>
