{% with messages = get_flashed_messages() %}
    {% if messages %}

        <div x-ref="messages">
            {% set count = 0 %}
            {% for message in messages %}
                <div class="alert">
                    <p style="margin: 0" class="p-2">{{ message }}</p>
                    <button @click="$el.parentElement.remove();">Clear</button>
                </div>
            {% endfor %}
        </div>

    {% endif %}
{% endwith %}

<div x-show="alerts" x-cloak>
    <template x-for="alert_ in alerts">
        <div class="alert">
            <p style="margin: 0" class="p-2" x-text="alert_"></p>
            <button @click="$el.parentElement.remove();">Clear</button>
        </div>
    </template>
</div>