<footer class="mb-5">
    <div style="display: flex; justify-content: start; align-items: center">
        <img style="height: 60px; width: 60px; margin-right: 10px;"
             src="{{ url_for('theme.static', filename='img/flask-planet.gif') }}" alt="logo" class="logo">
        <p style="margin: 0"><a href="https://github.com/Flask-Planet" target="_blank"
                                rel="noopener noreferrer nofollow">Flask-Planet</a></p>
    </div>
    <div>
        <p style="margin: 0">Powered by <a href="https://flask.palletsprojects.com/" target="_blank"
                                           rel="noopener noreferrer nofollow">Flask</a></p>
    </div>
</footer>
