<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('theme.static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='milligram.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('theme.static', filename='css.css') }}">

    <meta charset="UTF-8">
    <title>AutoGit - Flask-Planet</title>
    <script defer src="https://unpkg.com/@uilix/fragmentor@0.0.7/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
{% include 'theme/header.html' %}
<div class="container container-main">
    <div x-data>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert" @click="$el.remove();">
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <p style="margin: 0">{{ message }}</p>
                            <span class="button button-small button-outline" style="margin: 4px;">X</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block container %}

    {% endblock container %}
</div>
{% include 'theme/footer.html' %}
</body>
</html>