{% extends 'theme/extends/main.html' %}

{% block container %}

    <div class="box mb-4">

        <div>
            <p>
                <strong>
                    Command
                </strong>
            </p>
            <div class="false_pre ptb-2 button-group">
                <span>
                    {{ settings.COMMAND }}
                </span>

                <div class="tag-no-shadow" x-ref="git_app_status" x-text="git_app_status"
                     style="padding: 8px; margin: 0" :class="git_app_status_style"></div>
            </div>

            <div>
                <button class="button button-blue u-no-shadow" @click="start_app()">Edit</button>

                {#                {% if status %}#}
                <button class="button button-red u-no-shadow" @click="stop_app()">Stop</button>
                <button class="button button-orange u-no-shadow" @click="restart_app()">Restart</button>
                {#                {% else %}#}
                <button class="button button-green u-no-shadow" @click="start_app()">Start</button>
                {#                {% endif %}#}
            </div>

        </div>

    </div>


    <div class="box mb-4">
        <div>
            <p>
                <strong>
                    Git
                </strong>
            </p>

            <div class="false_pre">{{ settings.GIT_URL }}</div>
            <div class="mb-3">
                <button class="button button-blue u-no-shadow" @click="start_app()">Edit</button>
                <button class="button u-no-shadow" @click="clone_repo()">Clone</button>
                <button class="button u-no-shadow" @click="pull_repo()">Pull Changes</button>
                <button class="button button-red u-no-shadow" @click="show_destroy_git = !show_destroy_git">
                    Destroy
                </button>
            </div>
            <div class="small-alert mt-2" x-show="show_destroy_git" x-cloak x-collapse>
                <div style="padding: 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center">
                    <div>
                        <p class="m-0"><strong>Warning!</strong></p>
                        <p class="m-0">This will destroy the git repository and all files will be lost. </p>
                        <p class="m-0">Are you sure you want to continue?</p>
                    </div>
                    <div style="margin: 0; padding: 10px; text-align: center; display: flex;">
                        <button class="button button-black u-no-shadow me-2 plr-4"
                                @click="show_destroy_git = !show_destroy_git">
                            NO
                        </button>
                        <button class="button button-red u-no-shadow" @click="clone_repo()">YES</button>

                    </div>
                </div>
            </div>

            <p>Repository folder contents</p>
            <div>
                {% if repo_folder %}
                    {% for ld in repo_folder %}
                        <span class="tag-no-shadow"> {{ ld }} </span>
                    {% endfor %}
                {% else %}
                    <div class="small-alert">No files in repository folder.</div>
                {% endif %}
            </div>

        </div>
    </div>

    <div class="box  mb-4">
        <p><strong>Environment</strong></p>
        <div class="mb-3">

            <button class="button button-green u-no-shadow" disabled>Create Virtual Environment</button>
            <button class="button button-red u-no-shadow" disabled>Destroy Virtual Environment</button>
            {#            {% if git_exists %}#}
            {#                <button class="button button-green u-no-shadow" @click="create_venv()">Create Virtual Environment#}
            {#                </button>#}
            {#            {% else %}#}
            {#                <button class="button button-green u-no-shadow" disabled>Create Virtual Environment</button>#}
            {#            {% endif %}#}
        </div>

        <p>Installed Packages</p>

        <div>
            {% if venv %}
                <template x-for="package_ in packages" x-show="packages">
                    <div class="tag-no-shadow" x-text="package_"></div>
                </template>
                <div class="small-alert" x-show="!packages">No packages installed</div>
            {% else %}
                <div class="small-alert">No environment found.</div>
            {% endif %}

            {#            {% if venv %}#}
            <form name="pip_install" method="post" class="mt-3">
                <label for="install" class="u-no-bold">Install a package</label>
                <input name="install" id="install" type="text" placeholder="pip package name" class="mb-0">
                <button type="submit" class="u-no-shadow">Install</button>
            </form>
            {#            {% endif %}#}
        </div>

    </div>


    {#    <div class="box">#}
    {#        <div>#}
    {#            <p>#}
    {#                <strong>Webhook (#}
    {#                    {% if settings.WH_ENABLED %}#}
    {#                        <a href="{{ url_for('api.disable_webhook') }}">Disable</a>#}
    {#                    {% else %}#}
    {#                        <a href="{{ url_for('api.enable_webhook') }}">Enable</a>#}
    {#                    {% endif %}#}
    {#                    )#}
    {#                    {% if settings.WH_ENABLED %}#}
    {#                        ENABLED#}
    {#                    {% else %}#}
    {#                        DISABLED#}
    {#                    {% endif %}#}
    {#                </strong>#}
    {#            </p>#}
    {##}
    {#            <p style="margin-bottom: 8px; font-style: italic;">Secret <a#}
    {#                    href="{{ url_for('api.generate_new_secret') }}">Generate New Secret</a></p>#}
    {#            <div class="false_pre">{{ settings.WH_SECRET }}</div>#}
    {#            <p style="margin-bottom: 8px; margin-top: 5px">/api/webhook/[Webhook Secret] - Listening to default#}
    {#                branch</p>#}
    {#        </div>#}
    {#    </div>#}
{% endblock container %}
