{% extends 'theme/extends/main.html' %}

{% block container %}
    <section>
        <div class="box p-4">
            <p class="u-bold">Copy the following tokens and keep them safe, these are what you will use to log in.</p>
            <div class="false_pre"> Token 1: {{ t1 }}</div>
            <div class="false_pre"> Token 2: {{ t2 }}</div>
            <form name="tokens" method="post" style="margin-bottom: 0">
                <fieldset>
                    <input type="submit" value="I have stored the tokens" class="u-w100"
                           style="margin-bottom: 0; margin-top: 10px;">
                </fieldset>
            </form>
        </div>
    </section>
{% endblock container %}
