{% extends 'theme/main.html' %}

{% block container %}
    <h4 class="u-center">Login</h4>
    <form name="login" method="post">
        <fieldset style="margin-bottom: 0">
            <label for="t1">Token 1</label>
            <input name="t1" id="t1" value="" type="password">
            <label for="t2">Token 2</label>
            <input name="t2" id="t2" value="" type="password">
            <input type="submit" value="login" class="u-w100" style="margin-bottom: 0; margin-top: 10px;">
        </fieldset>
    </form>
{% endblock container %}
