{% extends 'theme/main.html' %}

{% block container %}
    <div class="row" style="padding-bottom: 10px;">
        <div class="column">
            <div style="display: flex; justify-content: space-between">
                <div>
                    <a href="{{ url_for('www.autogit_logs') }}" class="button button-small" style="margin-bottom: 5px;">AutoGit Logs</a>
                    <a href="{{ url_for('www.app_logs') }}" class="button button-small" style="margin-bottom: 5px;">App Logs</a>
                </div>
                <div>
                    <a href="{{ url_for('www.logout') }}" class="button button-clear button-small" style="margin-bottom: 5px;">Logout</a>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h4 class="dashboard-header">Git App Status</h4>
        </div>
    </div>
    <div class="row">
        <div class="column">
            {% if status %}
                <span class="green">&circledcirc;</span> Running
            {% else %}
                <span class="red">&circledcirc;</span> Stopped
            {% endif %}
            (
            {% if status %}
                <a href="{{ url_for('api.stop_app') }}">Stop</a> / <a href="{{ url_for('api.restart_app') }}">Restart</a>
            {% else %}
                <a href="{{ url_for('api.start_app') }}">Start</a>
            {% endif %}
            )
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="column">
            <h4 class="dashboard-header">Git App Settings
                <span class="header-link">( <a href="{{ url_for('www.settings_app') }}">Edit Settings</a> )</span>
            </h4>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <label>Git <span class="header-link">(
                <a href="{{ url_for('api.manual_pull') }}">Pull</a> /
                <a href="{{ url_for('api.manual_clone') }}">Clone</a> /
                <a href="{{ url_for('api.manual_destroy') }}">Destroy</a>
                )</span>
            </label>
            <pre style="margin-top: 0"><code>{{ settings.GIT }}</code></pre>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <label>Command <span class="header-link" style="margin-bottom: 5px;">( Command will be ran from venv/bin/ )</span></label>
            <pre style="margin-top: 0"><code>{{ settings.COMMAND }}</code></pre>

        </div>
    </div>
    <div class="row">
        <div class="column">
            <label>Webhook Secret
                <span class="header-link">( <a href="{{ url_for('api.generate_new_secret') }}">Generate New Secret</a> )</span>
            </label>
            <p style="margin-bottom: 8px;">http://[ip address]:5500/api/webhook/[Webhook Secret]</p>
            <pre style="margin-top: 0"><code>{{ settings.WH_SECRET }}</code></pre>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="column">
            <label>Repo Folder Files</label>
        </div>
    </div>
    <div class="row">
        <div class="column">
            {% if repo_folder %}
                {% for ld in repo_folder %}
                    <span class="file"> {{ ld }} </span>
                {% endfor %}
            {% else %}
                No files in repo folder
            {% endif %}
        </div>
    </div>
{% endblock container %}
